body {
  overflow-x: hidden;
}

#banner_video {
  position: fixed;
  min-height: 110vh;
  min-width: 110vw;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scaleX(-1);
  /* filter:blur(5px); */
  z-index: -1;
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.banner-content {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  /* box-shadow:0 0.5rem 1rem rgba(0,0,0,0.3); */
  height: 100%;
  background: -moz-linear-gradient(left, rgba(38, 71, 90, 1) 0%, rgba(38, 71, 90, 1) 1%, rgba(38, 71, 90, 1) 40%, rgba(38, 71, 90, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(38, 71, 90, 1) 0%, rgba(38, 71, 90, 1) 1%, rgba(38, 71, 90, 1) 40%, rgba(38, 71, 90, 0) 100%);
  background: linear-gradient(to right, rgba(38, 71, 90, 1) 0%, rgba(38, 71, 90, 1) 1%, rgba(38, 71, 90, 1) 40%, rgba(38, 71, 90, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26475a', endColorstr='#0026475a', GradientType=1);
}

.banner-content>.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
}

.banner-footer {
  position: absolute;
  top: 400px;
  height: calc(100vh - 400px);
  left: 0px;
  width: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  /* padding-top:20px; */
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
}

.banner-footer .title {
  -webkit-clip-path: polygon(0% 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0% 0, 100% 0, 90% 100%, 10% 100%);
  font-weight: normal;
  /* border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: .5rem 2.5rem .6rem 2.5rem;
  position: absolute;
  width: auto;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-footer .container .row {
  transform: translateY(25px);
}

.customer-logo {
  max-width: 100px;
}

#banner_video_blur {
  position: absolute;
  min-width: 110vw;
  min-height: 110vh;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: blur(5px);
  z-index: -1
}

.banner-content:before {
  /* content: ''; */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 56, 72, 0.25);
  top: 0px;
  left: 0px;
  /* border:1px solid rgba(0,0,0,0.15); */
}

.banner-row {
  justify-content: center;
  align-items: center;
}

.banner-left {
  background-color: #26475A;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner-logo {
  display: inline-block;
}

.banner-logo img {
  width: 30vw;
}

.banner-slider {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.banner-slider-slide {
  min-height: 200px;
  margin: 1rem 1rem;
}

.banner-slider-slide .inner {
  margin-left: -1rem;
  padding: 1rem 2rem;
  /* background-color: rgba(255, 255, 255, 0.25); */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff', GradientType=1);
}

.banner-slider-slide .title {
  margin-left: -1rem;
  padding: 1rem 2rem;
  /* background-color: #26475a; */
  margin-bottom: 0px;
  /* -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 0, 75% 100%, 0% 100%); */
  /* clip-path: polygon(0% 0%, 85% 0%, 100% 0, 85% 100%, 0% 100%); */
  /* -webkit-clip-path: polygon(0% 0%, 85% 0, 100% 20%, 85% 100%, 0% 100%); */
  /* clip-path: polygon(0% 0%, 85% 0, 100% 20%, 85% 100%, 0% 100%); */
  /* border-top-right-radius: 5rem; */
  /* border-bottom-right-radius: 5rem; */
  /* -webkit-clip-path: polygon(0% 15%, 0 0, 15% 0%, 65% 0, 65% 15%, 75% 15%, 75% 30%, 91% 30%, 91% 43%, 100% 43%, 100% 100%, 0 100%); */
  /* clip-path: polygon(0% 15%, 0 0, 15% 0%, 65% 0, 65% 15%, 75% 15%, 75% 30%, 91% 30%, 91% 43%, 100% 43%, 100% 100%, 0 100%); */
  -webkit-clip-path: polygon(0 0, 92% 0, 92% 13%, 95% 13%, 95% 34%, 98% 35%, 98% 49%, 100% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 92% 0, 92% 13%, 95% 13%, 95% 34%, 98% 35%, 98% 49%, 100% 50%, 100% 100%, 0 100%);
  /* background: -moz-linear-gradient(top, rgba(38, 71, 90, 0.65) 0%, rgba(38, 71, 90, 0) 100%); */
  /* background: -webkit-linear-gradient(top, rgba(38,71,90,0.65) 0%,rgba(38,71,90,0) 100%); */
  /* background: linear-gradient(to bottom, rgba(38,71,90,0.65) 0%,rgba(38,71,90,0) 100%); */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a626475a', endColorstr='#0026475a', GradientType=0);
  background: -moz-linear-gradient(left, rgba(38, 71, 90, 0.65) 0%, rgba(38, 71, 90, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(38, 71, 90, 0.65) 0%, rgba(38, 71, 90, 0) 100%);
  background: linear-gradient(to right, rgba(38, 71, 90, 0.65) 0%, rgba(38, 71, 90, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a626475a', endColorstr='#0026475a', GradientType=1); */
}

.banner-button {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.banner-button:hover, .banner-button:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.15rem 0.75rem rgba(0, 0, 0, 0.6);
  /* border:1px solid rgba(255,255,255,0.4); */
}

.banner-button.call-to-action {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  padding-left: 50px;
  overflow: hidden;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.call-to-action i {
  height: 40px;
  width: 40px;
  top: 50%;
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: #297f46;
  transition: all .5s ease;
  padding-right: .75rem;
  z-index: 0;
  transform: translateY(-50%) scaleX(-1);
  background-color: rgb(241, 81, 85, 0);
  height: 200px;
  width: 200px;
  padding-right: 1.25rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.call-to-action:hover {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: #297f46; */
  box-shadow: 0 0.15rem 0.75rem rgba(0, 0, 0, 0.6);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.call-to-action:hover i {
  background-color: #297f46;
  height: 40px;
  width: 40px;
  padding-right: .75rem;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

a.banner-footer-goto {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.2rem 1.25rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  cursor: pointer
}

a.banner-footer-goto:hover {
  box-shadow: 0 0.4rem 2rem rgb(38, 71, 90);
}

.banner-services {
  padding: 1rem;
}

.services-button {
  position: relative;
  text-shadow: none;
  display: inline-block;
  /* text-align: center; */
  padding: 1rem 1.25rem 0.5rem 1.25rem;
  -webkit-clip-path: polygon(5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 5%);
  clip-path: polygon(5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 5%);
  border-radius: 0px;
  margin-right: 1.25rem;
  background-color: rgba(38, 71, 90, 0.4);
  background-color: rgba(255, 255, 255, 1);
  color: #26475a !important;
  border: 2px solid #00cab4;
  transition: all 0.3s ease;
  cursor: pointer;
  min-width: 135px;
  font-weight: 400;
}

.services-button:after {
  content: '';
  position: absolute;
  height: 150%;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.1);
  top: -25%;
  left: -100%;
  transform: rotate(40deg);
}

.services-button:hover:after {
  transition: all .6s linear;
  left: 140%;
}

.services-button:hover {
  background-color: rgba(38, 71, 90, 0.8);
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0%);
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0%);
  color: #eee !important;
}

.services-button img {
  height: 60px;
  width: 60px;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0%);
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0%);
  transition: all 0.3s ease;
  margin-bottom: .25rem;
  background-color: white;
  /* float:left; */
}

.services-button:hover img {
  /* box-shadow: 0 0.2rem 1.25rem rgba(0, 0, 0, 0.5); */
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
  clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
}

.services-button .text {
  /* display: block; */
  /* margin-left:.5rem; */
}

nav.fixed-top {
  top: -60px;
  transition: all 0.3s ease;
}

.navbar-brand-text {
  vertical-align: middle;
}

main {
  background: white;
  /* box-shadow: 0 -0.25rem 2rem rgba(0, 0, 0, 0.2); */
  padding: 5rem 0rem 2rem 0rem;
}

.loading {
  overflow: hidden;
}

body:not(.loading) .loader {
  display: none;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1024;
  background-color: #26475A;
}

.loader .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(.5);
  transform-origin: center center;
  width: 150px;
  height: 150px;
  text-align: center;
}

.loader .spinner:after {
  content: '';
  position: absolute;
  height: 200px;
  width: 200px;
  border: 2px solid white;
  top: -25px;
  left: -25px;
  border-radius: 50%;
  /* border-right-color: transparent;
  border-left-color: transparent; */
  transform: scale(0);
  transition: all 0.3s ease;
}

.loader .spinner:before {
  content: 'LOADING';
  overflow: hidden;
  width: 0px;
  position: absolute;
  left: 50%;
  bottom: -90px;
  transition: all 1s ease;
  transform: translateX(-50%);
  transition-delay: 1.3s;
  color: white;
  letter-spacing: 1px;
}

.loader .spinner svg {
  display: inline-block;
  width: 103px;
  /* border-right: 1px solid #fff; */
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
  animation: none;
  margin-left: 1rem;
  transition-delay: 1s;
}

path {
  transition: all .3s ease;
}

#rect826 {
  transform-origin: center center;
  transform: translateY(-100%);
}

#path829 {
  transform-origin: center center;
  transform: translateY(100%);
  transition-delay: .3s;
}

#path831 {
  transform-origin: center center;
  transform: translateX(100%);
  transition-delay: .6s;
}

#path837 {
  transform-origin: center center;
  transform: translateX(-100%);
  transition-delay: .9s;
}

.loader .spinner.activate #rect826 {
  transform: translateY(0%);
}

.loader .spinner.activate #path829 {
  transform: translateY(0%);
}

.loader .spinner.activate #path831 {
  transform: translateX(0%);
}

.loader .spinner.activate #path837 {
  transform: translateX(0%);
}

.loader .spinner.activate:after {
  animation: fade_scale .6s linear infinite;
  animation-delay: 1.3s;
}

.loader .spinner.activate:before {
  width: 100%;
  letter-spacing: 5px;
}

.loader .spinner.activate {
  transform: rotate(360deg) translateX(-50%) translateY(-50%) scale(.75);
}

.loader .spinner.activate svg {
  transform: rotate(360deg) scale(.8);
}

@keyframes fade_scale {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(.8);
  }
  12% {
    transform: scale(.9);
  }
  24% {
    transform: scale(.8);
  }
  36% {
    transform: scale(.9);
  }
  48% {
    transform: scale(.8);
  }
}

@media (min-width:1600px) {
  .banner-left {
    min-height: 600px;
  }
  .banner-footer {
    top: 600px;
    height: calc(100vh - 600px);
    /* padding-top:100px; */
  }

}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.subtitle {
  font-size: 1.2rem;
}